{% macro list_pages(pages) -%}
    {% for page in pages|reverse %}
        <li><a href="{{page.name}}">{{page.title}}</a>
            {% if page.date_formatted %}
                - {{ page.date_formatted }}
            {% endif %}
        </li>
    {% endfor %}
{%- endmacro  %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>/dev/*</title>
        <style>
            * {background-color: #24273a; color: #cdd6f4}
            footer {font-size:smaller;}
        </style>
    </head>
    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
            {% block footer %}{% endblock %}
        </div>

        <hr>
        <div id="footer">
            <a href="/">/root</a><br>
            happy to hear from people: x01c3 ta pm tod me<br>
            <a href="https://codeberg.org/qdp/tech">source</a>
            <a href="https://codeberg.org/qdp/mkdg">mkdg</a>
            ©<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
                CC-BY-NC-SA 4.0
            </a>
        </div>
    </body>
</html>

